html, body {
	margin: 0;
	background: blue;
	overflow-x: hidden;
}

h1 {
	font-family: open sans;
	font-size: 40pt;
	margin: 0;
	padding: 0;
}

h2 {
	padding: 0;
	margin: 0;
	color: #E93224;
	font-family: open sans;
	font-size: 24pt;
	font-weight: bold;
}

h3 {
	font-family: Della Respira;
	font-size: 76pt;
}

h4 {
	font-family: Della Respira;
	font-size: 32pt;
	margin: 0;
	padding: 0;
}

#header {
	background: url("factory.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 720px;
	padding: 0;
	margin: 0;
	text-align: right;
}

#header-container {
	margin: auto;
	max-width: 1400px;
	padding-top: 20px;
}

#nav {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 20px;
	margin-bottom: 200px;
	width: 100%;
}

#nav li {
	display: inline;
}

#nav li button {
	width: 200px;
	box-shadow: 0px 0px 10px grey;
	padding: 5px;
	border: none;
	border-radius: 5px;
	background: red;
	background: radial-gradient(red, #8B0000);
	cursor: pointer;
	color: #FFFFFF;
	outline: none;
	font-family: open sans;
	font-size: 20pt;
}

#nav li button:hover {
	background: red;
}

#introduction {
	color: #FFFFFF;
	text-shadow: 0px 0px 2px black;
	text-align: center;
	padding: 0;
	display: block;
}

#article-one {
	background: grey;
	background: linear-gradient(grey, DarkGrey);
	min-height: 440px;
	padding: 0;
	margin: 0;
	border-top: solid 2px blue;
}

#article-one p {
	margin: 0;
	padding: 0;
}

#one-container {
	margin: auto;
	max-width: 1400px;
	padding-top: 64px;
	padding-bottom: 64px;
}

#article-two {
	border-top: solid 2px red;
	background: #004A88;
}

#two-container {
	margin: auto;
	max-width: 1400px;
	padding-top: 48px;
	padding-bottom: 48px;
	text-align: center;
}

.detail {
	background: white;
	width: 294px;
	height: 398px;
	margin: 0px 48px 10px 0px;
	border-radius: 8px;
	display: inline-block;
	text-align: center;
}

.detail p {
	font-family: open sans;
	font-size: 16pt;
	line-height: 150%;
	text-align: center;
}

#footer {
	border-top: solid 2px white;
	background: blue;
	background: linear-gradient(DarkBlue, blue);
}

#footer-container {
	margin: auto;
	max-width: 1400px;
	text-align: center;
}

#footer-list {
	margin: 0;
	list-style-type: none;
	padding: 0;
}

#footer-list li {
	display: inline;
}

#footer-list h2 {
	color: white;
	display: inline;
	margin: 10px;
}

#footer-container p {
	margin: 0;
	padding: 0;
	color: white;
}